/**
 * Edit reservable screen in wp-admin.
 */

#reservablesettings.postbox {
  .inside {
    margin: 0;
    padding: 0;
  }

  table {
    width: 100%;
    border-collapse: collapse;

    tr {
      &:last-of-type {
        td, th {
          border-bottom: 0;
        }
      }
    }

    td, th {
      vertical-align: top;
      padding: 10px;
      border-bottom: 1px solid #e8e8e8;
      border-right: 1px solid #e8e8e8;
      width: 50%;
    }

    th[scope="row"] {
      vertical-align: top;
      text-align: left;
      max-width: 450px;

      em, label {
        display: block;
      }

      em {
        color: #808080;
        font-weight: normal;
      }
    }
  }

  .wprsrv-repeater-row {
    margin-bottom: 10px;
    height: 30px;

    & > div:first-child {
      float: left;
      height: 30px;
      width: 80%;
      font-size: 24px;
    }

    & > div:last-child {
      float: right;
      height: 30px;
      width: 20%;
    }

    .deletion {
      color: #900;


    }
  }

  button.button-primary {
    margin-top: 10px;
  }
}

#reservableactions.postbox {
    .inside {
        margin: 0;
        padding: 10px;
    }
}

#reservablereservations.postbox {
    .inside {
        margin: 0;
        padding: 0;

        .empty-notice:only-child {
          padding: 20px;
          margin: 0 !important;
          font-style: italic;
          font-size: 110%;
          text-align: center;
        }
    }

    table {
        border-collapse: collapse;
        width: 100%;
        display: none;

        &.active {
            display: table;
        }

        tbody tr {
            &:last-of-type {
                td, th {
                    border-bottom: 0;
                }
            }
        }

        td, th {
            vertical-align: top;
            padding: 10px;
            border-bottom: 1px solid #e8e8e8;
            border-right: 1px solid #e8e8e8;
        }

        td.single-day {
            width: 14.285%;

            &.start-reservation_accepted {
                border-left: 3px solid #9c0;
            }

            &.start-reservation_pending {
                border-left: 3px solid #c90;
            }
        }

        a.prev-month, a.next-month {
            background-color: #00a0d2;
            text-decoration: none;
            color: white;
            font-size: 20px;
            font-weight: bold;
            width: 30px;
            height: 30px;
            line-height: 27px;
            display: inline-block;
            text-align: center;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
        }

        span.day-num {
            font-size: 120%;
            background-color: rgba(0, 0, 0, 0.1);
            text-align: center;
            width: 30px;
            height: 30px;
            line-height: 30px;
            display: inline-block;
            float: left;
            color: #666;

            &.reservation_pending {
                font-weight: bold;
                margin: 0 10px 0 0;
                background-color: #c90;
                color: #750;
            }

            &.reservation_accepted {
                font-weight: bold;
                margin: 0 10px 0 0;
                background-color: #9c0;
                color: #fff;
            }
        }

        span.reservation {
            font-size: 90%;
            line-height: 18px;
            display: inline-block;
            margin-top: 5px;

            a {
                text-decoration: none;
            }
        }
    }
}
