<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8">
    <title>{{ page.title }} &mdash; wprsrv</title>

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/main.css">

    <script type="text/javascript">
        // Redirect to correct domain.
        if (
            window.location.href.indexOf('wprsrv.org') === -1 &&
            window.location.href.indexOf('localhost') === -1 &&
            window.location.href.indexOf('127.0.0.1') === -1
        ) {
            window.location.href = 'http://www.wprsrv.org' + window.location.pathname;
        }
    </script>

</head>

<body class="{{ page.body_classes }}">

<div id="top-notice" class="notice">
    <p><strong>Please note</strong>, this site is heavily under development. Sections are missing and may contain information that is out of date.</p>
    <span class="close">&times;</span>
</div>

<header class="container">
    <p id="logo" class="col left">
        <a href="{{ site.baseurl }}/">wprsrv</a>
    </p> <!-- /#logo -->

    <nav id="navigation" class="col right">

        <ul>
            <li class="about"><a href="{{ site.baseurl }}/">About</a></li>
            <li class="about"><a href="{{ site.baseurl }}/usage">Usage</a></li>
            <li class="documentation"><a href="{{ site.baseurl }}/documentation">Documentation</a></li>
        </ul>

    </nav> <!-- /#navigation -->
</header>
