/**
 * Edit Reservation screen in wp-admin.
 */
#titlewrap h2 {
  font-size: 1.8em;
  margin: 0;
  padding: 0.25em 0;
  border-bottom: 1px solid #ccc;
  line-height: 1.333; }

#reservationinfo.postbox .inside,
#reservationactions.postbox .inside,
#reservationnotes.postbox .inside {
  margin: 0;
  padding: 0; }

#reservationinfo.postbox table,
#reservationactions.postbox table,
#reservationnotes.postbox table {
  width: 100%;
  border-collapse: collapse; }
  #reservationinfo.postbox table tr:last-of-type td,
  #reservationinfo.postbox table tr:last-of-type th,
  #reservationactions.postbox table tr:last-of-type td,
  #reservationactions.postbox table tr:last-of-type th,
  #reservationnotes.postbox table tr:last-of-type td, #reservationnotes.postbox table tr:last-of-type th {
    border-bottom: 0; }
  #reservationinfo.postbox table th[scope="row"],
  #reservationactions.postbox table th[scope="row"],
  #reservationnotes.postbox table th[scope="row"] {
    text-align: left; }
  #reservationinfo.postbox table td,
  #reservationinfo.postbox table th,
  #reservationactions.postbox table td,
  #reservationactions.postbox table th,
  #reservationnotes.postbox table td, #reservationnotes.postbox table th {
    vertical-align: top;
    padding: 10px;
    border-bottom: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8; }
    #reservationinfo.postbox table td:last-child,
    #reservationinfo.postbox table th:last-child,
    #reservationactions.postbox table td:last-child,
    #reservationactions.postbox table th:last-child,
    #reservationnotes.postbox table td:last-child, #reservationnotes.postbox table th:last-child {
      border-right: 0; }
    #reservationinfo.postbox table td *,
    #reservationinfo.postbox table th *,
    #reservationactions.postbox table td *,
    #reservationactions.postbox table th *,
    #reservationnotes.postbox table td *, #reservationnotes.postbox table th * {
      margin: 0;
      padding: 0; }
    #reservationinfo.postbox table td p + button,
    #reservationinfo.postbox table th p + button,
    #reservationactions.postbox table td p + button,
    #reservationactions.postbox table th p + button,
    #reservationnotes.postbox table td p + button, #reservationnotes.postbox table th p + button {
      margin-top: 1em;
      padding: 0 0.5em; }
      #reservationinfo.postbox table td p + button + em,
      #reservationinfo.postbox table th p + button + em,
      #reservationactions.postbox table td p + button + em,
      #reservationactions.postbox table th p + button + em,
      #reservationnotes.postbox table td p + button + em, #reservationnotes.postbox table th p + button + em {
        display: block;
        color: #808080;
        margin-top: 0.5em; }
  #reservationinfo.postbox table .notice,
  #reservationactions.postbox table .notice,
  #reservationnotes.postbox table .notice {
    border: 1px solid #e8e8e8;
    border-left: 3px solid #dc9;
    padding: 6px 10px; }
    #reservationinfo.postbox table .notice.error,
    #reservationactions.postbox table .notice.error,
    #reservationnotes.postbox table .notice.error {
      border-left: 3px solid #f40; }
  #reservationinfo.postbox table button + em,
  #reservationinfo.postbox table button + .spinner + em,
  #reservationactions.postbox table button + em,
  #reservationactions.postbox table button + .spinner + em,
  #reservationnotes.postbox table button + em,
  #reservationnotes.postbox table button + .spinner + em {
    display: block; }

#reservationnotes.postbox table tr th, #reservationnotes.postbox table tr td {
  width: 66%; }
  #reservationnotes.postbox table tr th:first-child, #reservationnotes.postbox table tr td:first-child {
    width: 33%; }

#reservationnotes.postbox table tr textarea {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  min-height: 200px;
  resize: vertical; }

#reservationnotes.postbox table tr button {
  padding: 0 20px; }
