/**
 * Edit reservable screen in wp-admin.
 */
#reservablesettings.postbox .inside {
  margin: 0;
  padding: 0; }

#reservablesettings.postbox table {
  width: 100%;
  border-collapse: collapse; }
  #reservablesettings.postbox table tr:last-of-type td, #reservablesettings.postbox table tr:last-of-type th {
    border-bottom: 0; }
  #reservablesettings.postbox table td, #reservablesettings.postbox table th {
    vertical-align: top;
    padding: 10px;
    border-bottom: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    width: 50%; }
  #reservablesettings.postbox table th[scope="row"] {
    vertical-align: top;
    text-align: left;
    max-width: 450px; }
    #reservablesettings.postbox table th[scope="row"] em, #reservablesettings.postbox table th[scope="row"] label {
      display: block; }
    #reservablesettings.postbox table th[scope="row"] em {
      color: #808080;
      font-weight: normal; }

#reservablesettings.postbox .wprsrv-repeater-row {
  margin-bottom: 10px;
  height: 30px; }
  #reservablesettings.postbox .wprsrv-repeater-row > div:first-child {
    float: left;
    height: 30px;
    width: 80%;
    font-size: 24px; }
  #reservablesettings.postbox .wprsrv-repeater-row > div:last-child {
    float: right;
    height: 30px;
    width: 20%; }
  #reservablesettings.postbox .wprsrv-repeater-row .deletion {
    color: #900; }

#reservablesettings.postbox td > label + label {
  display: block;
  margin-top: 5px; }

#reservablesettings.postbox button.button-primary {
  margin-top: 10px; }

#reservableactions.postbox .inside {
  margin: 0;
  padding: 10px; }

#reservablereservations.postbox .inside {
  margin: 0;
  padding: 0; }
  #reservablereservations.postbox .inside .empty-notice:only-child {
    padding: 20px;
    margin: 0 !important;
    font-style: italic;
    font-size: 110%;
    text-align: center; }

#reservablereservations.postbox table {
  border-collapse: collapse;
  width: 100%;
  display: none; }
  #reservablereservations.postbox table.active {
    display: table; }
  #reservablereservations.postbox table tbody tr:last-of-type td, #reservablereservations.postbox table tbody tr:last-of-type th {
    border-bottom: 0; }
  #reservablereservations.postbox table td, #reservablereservations.postbox table th {
    vertical-align: top;
    padding: 10px;
    border-bottom: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8; }
  #reservablereservations.postbox table th .short {
    display: none; }
    @media screen and (min-width: 520px) {
      #reservablereservations.postbox table th .short {
        display: inline; } }
    #reservablereservations.postbox table th .short .full {
      display: none; }
      @media screen and (min-width: 1180px) {
        #reservablereservations.postbox table th .short .full {
          display: inline; } }
  #reservablereservations.postbox table td.single-day {
    width: 14.285%; }
    #reservablereservations.postbox table td.single-day.start-reservation_accepted {
      border-left: 3px solid #9c0; }
    #reservablereservations.postbox table td.single-day.start-reservation_pending {
      border-left: 3px solid #c90; }
  #reservablereservations.postbox table a.prev-month, #reservablereservations.postbox table a.next-month {
    background-color: #00a0d2;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    width: 30px;
    height: 30px;
    line-height: 27px;
    display: inline-block;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; }
  #reservablereservations.postbox table span.day-num {
    font-size: 120%;
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    float: left;
    color: #666; }
    #reservablereservations.postbox table span.day-num.reservation_pending {
      font-weight: bold;
      margin: 0 10px 0 0;
      background-color: #c90;
      color: #750; }
    #reservablereservations.postbox table span.day-num.reservation_accepted {
      font-weight: bold;
      margin: 0 10px 0 0;
      background-color: #9c0;
      color: #fff; }
  #reservablereservations.postbox table span.reservation {
    font-size: 90%;
    line-height: 18px;
    display: inline-block;
    margin-top: 5px; }
    #reservablereservations.postbox table span.reservation a {
      text-decoration: none; }
